
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
.main_div{
	height:100vh;
	background-color:#E9E9E9;
	padding:10px;
}
.card{
margin-top:20px;
box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}
.card:hover{
	border:2px solid blue;
}
img{
	height:250px!important;
	width:100%!important;
	border:none;
	border-radius:5px;
}
