*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	background-color:#81FF99;
	
}
.container{
	width:25%;
	height:auto;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:white;
	box-shadow:5px 5px 25px -5px rgba(0,0,0,0.5);
	border-radius: 15px;
}
h1{
	text-align:center;
	background-color:white;
	margin:50px auto;
}
button{
	margin:20px 17px;
	width:40%;
	border:none;
	border-radius:5px;
	padding: 10px 15px;
	font-size: 30px;
	font-weight:500;
	
}
button:hover{
	border: 2px solid #4CD2FF;
	cursor:pointer;
	box-shadow:5px 5px 25px -5px rgba(0,0,0,0.5);
}
.increment{
	background-color:#07FF35;
}
.decrement{
	background-color:#FF412F;
}
